@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Azeret Mono", monospace; */
* {
  margin: 0;
  padding: 0;
  font-family: Azeret Mono;
}

.container {
  margin: 0 auto;
}

header > nav {
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px auto;
}

header > h2 {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}
.btn {
  padding: 17px 24px 17px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background-color: white;
}

.btn2 {
  padding: 17px 24px 17px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(13, 19, 33);
}

.banner {
  background-image: url("../assets/Hero-bg.png");
  background-size: cover;
}

.banner-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 45px;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.banner-content > h2 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}

.banner-content > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  width: 90%;
}

/* Why Web Development Section  */
#Why-web-development-container {
  background: rgba(13, 19, 33, 0.02);
  width: 78%;
  margin: 0 auto;
  padding: 80px;
  margin-top: 78px;
}
.why-web-development {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
}
.why-web-development > h3 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.why-web-development > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.my-task1,
.my-task3 {
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  padding: 48px;
  justify-content: space-between;
  align-items: center;
}
.my-task2 {
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  padding: 48px;
  justify-content: space-between;
  align-items: center;
}

.task1-text,
.task2-text,
.task3-text {
  width: 477px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.task1-text > h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.why-web-development button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
  width: 172px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background: none;
}
/* My Inspiration section */
#my-inspiration-container {
  width: 78%;
  margin: 90px auto;
  /* text-align: center; */
}

.my-inspiration {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.my-inspiration > h3 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.my-inspiration > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
  width: 852px;
}
.video-container {
  margin: 42px auto;
}
.video-container iframe {
  width: 1140px;
  height: 614px;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

/* My Current Target */
.my-current-target {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 78%;
}
.my-current-target > h3 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.my-current-target > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.targets {
  padding: 40px;
  display: flex;
  gap: 32px;
}
.skills {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 16px;
}
.skills1 {
  background: rgba(255, 76, 30, 0.05);
}
.skills2 {
  background: rgba(0, 76, 232, 0.05);
}
.skills3 {
  background: rgba(255, 223, 0, 0.05);
}
.skills > a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.skills h4 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.skills p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
